td
{
    border: 1px solid black;
    width: 40px;
}
.death-msg
{
    top: -50px;
    position: absolute;
    display: none;
}
.feed-btn
{
    display: none;
}
.death-sound
{
    display: none;
}
.speech
{
    height: 20px;
    width: 400px;
    text-align: center;
}
